<!doctype html>
<html>
    <head>
        <title>Meow</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="author" content="ahathedev" />
        <meta name="description" content="floating action button" />
        <link rel="stylesheet" href="/css/dark.css" />
        <link rel="stylesheet" href="/components/style.css" />
        <link rel="stylesheet" href="fab.css" />
        <script type="module" src="/components/app.js"></script>
        <script type="module" src="fab.js"></script>
    </head>
    <body>
        <div class="fab">
            <button class="fab-btn menu-button">
                <i data-lucide="x"></i>
            </button>
            <button class="fab-btn top-button">
                <i data-lucide="arrow-up"></i>
            </button>
        </div>
        <script type="module" src="app.js"></script>
    </body>
</html>
