:root {
    --fab-padding: clamp(1rem, 5vw, 2.5rem);
    --fab-gap: 10px;
    --fab-padding-btn: 0.75rem;
    --fab-border: 1px;
    --fab-border-radius: 0.625rem;
    --fab-button-size: calc(
        var(--fab-padding) * 2 + var(--fab-border) * 2 + 24px
    );
}
#fab-div {
    z-index: 1;
    display: flex;
    position: fixed;
    align-items: center;
    flex-flow: column-reverse;
    align-self: flex-end;
    justify-self: flex-end;
    right: var(--fab-padding);
    bottom: var(--fab-padding);
    gap: var(--fab-gap);
}

.fab-btn {
    background: var(--background);
    color: var(--foreground);

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    padding: var(--fab-padding-btn);
    border-radius: var(--fab-border-radius);
    border: var(--fab-border) solid var(--border);
    outline: none;
}

.fab-btn:hover {
    background: var(--secondary);
    color: var(--secondary-foreground);
}

.fab-btn.hidden {
    display: none;
}

.menu-button {
    bottom: var(--fab-bottom);
}
.top-button {
    bottom: calc(var(--fab-gap) + var(--fab-button-size)+ var(--fab-bottom));
}
